
*filter

# Let everything in and out
:INPUT ACCEPT
:FORWARD DROP
:OUTPUT ACCEPT

# Or drop all inputs in general but allow localhost
#-A INPUT  -i lo -j ACCEPT
#-A OUTPUT -o lo -j ACCEPT

COMMIT

# In case you need entries in the NAT table:
#  *nat
#  <your rules here>
#  COMMIT

# Don't forget the trailing newline
